test_epidermis.sdt

sdt_image.npy
int_image.npy
sdt_image1.npy
int_image1.npy
sdt_image2.npy
int_image2.npy
sdt_image3.npy
int_image3.npy

flim_im_fm.npy
flim_im_fmb.npy
flim_im.npy
sdt_im_b.npy
sdt_im_s.npy

sdt_image1_s.npy
sdt_image2_s.npy
sdt_image3_s.npy
int_image1_s.npy
int_image2_s.npy
int_image3_s.npy

fm_image1.npy
fm_image1_4.npy

time_bins.npy